@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&display=swap');

/* NAVEGADOR */
.titulo{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #008681;
  font-size: 3.2em;
  line-height: 1.1;
}

.parallax{
  display:grid;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  background: url('/src/assets/fondo-pc2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax .row {
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  background-color: #ce952a81;
  padding: 30px;
  padding-right: 50%;
  border-radius: 2rem;
}

/* PIE DE PÃGINA */
footer {
  border-top: 1px solid black;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #FFD0D0;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}